<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход в систему</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Вход в систему</h1>

<div th:if="${param.error}" style="color: red;">
    Неверное имя пользователя или пароль
</div>

<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Войти</button>
    </div>
</form>

<p>Ещё не зарегистрированы? <a th:href="@{/register}">Зарегистрироваться</a></p>
</body>
</html>